@import model.FullCountryResult
@(countryResults: Seq[FullCountryResult])
<h1>Lunatech Country Search</h1>
<table>
<tbody>
@for(result <- countryResults){
<tr>
  <td>@result.country.code</td>
  <td>@result.airport.ident</td>
  <td>@result.runway.surface</td>
</tr>
}
</tbody>
</table>