@import model.CountryWithAirportsCount
@import model.RunwayTypesPerCountry
@(
  highest10: Seq[CountryWithAirportsCount],
  lowest10: Seq[CountryWithAirportsCount],
  runwayTypesPerCountry: Seq[RunwayTypesPerCountry])


@showTops(top: Seq[CountryWithAirportsCount], title: String) = {
<div>
  <table border="1">
    <caption>@title</caption>
    <thead>
      <th>Country</th>
      <th>Code</th>
      <th># Airports</th>
    </thead>
    <tbody>
    @for(result <- top){
      <tr>
        <td>@result.countryName</td>
        <td>@result.countryCode</td>
        <td>@result.numberOfAirports</td>
      </tr>
    }
    </tbody>
  </table>
</div>
}

<h1>General Report</h1>

@showTops(highest10, "Top 10 countries with more airports")
@showTops(lowest10, "Top 10 countries with fewer airports")

<table border="1">
  <caption>"Type of runways per country</caption>
  <tbody>
    @for(result <- runwayTypesPerCountry){
      <tr>
        <td>@result.country.code</td>
        <td>@result.runways.mkString(", ")</td>
      </tr>
    }
  </tbody>
</table>