@import helper._
@()

@main("Welcome to Play") {
  <h1>Lunatech App
  <div>
  @form(action = controllers.routes.CountryController.search()) {
    <input type="text" name="identifier" />
    <input type="submit" value="Search" />
  }
  </div>
  <div>
  @form(action = controllers.routes.CountryController.reports()) {
    <input type="submit" value="Reports" />
  }
  </div>
}
